<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.dkarter.alfred2-netflix-search</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E97619EE-F34B-4296-A49A-0A8AE661A78E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C3C23560-7C9F-4FA4-A1DA-E70AD1187F4D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Hold the ⌘ key and press ⏎ to open movie details</string>
			</dict>
		</array>
		<key>EE6441D4-59AD-4694-A5DD-3A524A713B30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D6C8A6D-101B-4285-A689-2185E2E65D3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dorian Karter</string>
	<key>description</key>
	<string>A workflow to give you seach suggestions for netflix and launch it for you</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Netflix Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.netflix.com/WiPlayer?movieid={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E97619EE-F34B-4296-A49A-0A8AE661A78E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>nf</string>
				<key>runningsubtext</key>
				<string>Searching Netflix...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./main.rb titles "{query}"</string>
				<key>subtext</key>
				<string>Example 'nf star trek'</string>
				<key>title</key>
				<string>Search for a Movie</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21557827-8003-42B7-A042-16D4C9278FEC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.netflix.com/WiMovie/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C3C23560-7C9F-4FA4-A1DA-E70AD1187F4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.netflix.com/WiRoleDisplay?personid={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6D6C8A6D-101B-4285-A689-2185E2E65D3F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>nf ppl</string>
				<key>runningsubtext</key>
				<string>Searching Netflix...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./main.rb people "{query}"</string>
				<key>subtext</key>
				<string>Example 'nf ppl Neil DeGrasse Tyson'</string>
				<key>title</key>
				<string>Search for People (Actors, Directors etc)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EE6441D4-59AD-4694-A5DD-3A524A713B30</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>6D6C8A6D-101B-4285-A689-2185E2E65D3F</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>C3C23560-7C9F-4FA4-A1DA-E70AD1187F4D</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>E97619EE-F34B-4296-A49A-0A8AE661A78E</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>EE6441D4-59AD-4694-A5DD-3A524A713B30</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/dkarter/AlfredNetflixSearchWorkflow</string>
</dict>
</plist>
